*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.active {
    background-color: #ffd900;
    color: white !important;
}

.icon {
        width: 20px;
        // height: 20px;
        overflow: hidden;
        cursor: pointer;
        padding: auto;
        margin: auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    color: #f4f4f4;

    &:hover {
        background-color: #ffd900;
        color: #f4f4f4;
    }
}

.banner {
    background-image: url('images/banner.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 15vh;
    width: 100%;
}

nav {
    align-items: center;
    background-color: #181818;
    color: white;
    padding: 0 1rem;
    height: 10vh;
    
    ul {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        li {
            padding: 0 10px;
            width: 100%;
            display: flex;
            height: 10vh;
            align-items: center;
            justify-content: center;
            // font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: #ffd900;
            }
        }
    }
}

main {
    display: flex;
    height: 75vh;
}

aside {
    color: #f4f4f4;
    height: 100%;
    background-color: #181818;
    display: flex;
    flex-direction: column;

    ul {
        justify-content: center;
        // height: 100%;

        li {
            padding: 1rem;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                background-color: #ffd900;
            }
        }
    }
}

.user-icon{
    background-image: url('images/userIcon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    height: 50px;
    width: 50px;
    margin: auto;

    &:hover {
        cursor: pointer;
        border-color: #ffd900;
    }
}

.settings-button{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem ;
    fill: #f4f4f4;

    &:hover {
        cursor: pointer;
        fill: #ffd900;
    }
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;

    span {
        padding: 1rem 1rem ;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            li {
                padding: 1rem 8rem;
                cursor: pointer;
                font-weight: bold;
                border: 1px solid #333131;
                border-radius: 5px;
                height: 25px;

                &:hover {
                    background-color: #ffd900;
                    color: #f4f4f4;
                }
            }
        }
    }
}

.main-page{
    display: flex; 
    justify-content: space-around;
    margin: auto;
    flex:1;
    overflow-y: hidden; //comment out later
    gap:50px;
    width: 80vw;

    article{
        // border: 1px solid #333131;
        border-radius: 5px;
        box-shadow: -10px 10px 5px #c0c0c09a;
        padding: 1rem;
        width: 80vw;
        overflow-y: scroll;
        flex:1;

        img{
            width: auto;
            height: 100%;
        }

        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            border-bottom: 1px dashed #333131;
            color: #ffd900;
            text-shadow: 0px 0px 1px #000000;
            font-stretch: bold;
            font-size: 32px;
        }
    }
}

.main-button{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    padding: 1rem;
    // border: 0.5px dotted #e9e5e5;
    box-shadow: -10px 10px 5px #c0c0c09a;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 25px;

    &:hover {
        background-color: #ffd900;
        color: #f4f4f4;
    }
}